.scene {
  perspective: 1200px;
}

.card-flip {
  height: 280px;
  width: 280px;
  margin: 55px;
  position: relative;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  border-radius: 8px;
}

.card-face {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: white;
  box-sizing: border-box;
  border-radius: inherit;
  padding: 21px 0;
}

.card-face li {
  margin: 8px 0;
}

.card-face ul {
  padding: 0 21px 0 34px;
}

.card-face-back {
  transform: rotateY(180deg);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
}

.card-flip.is-flipped {
  transform: rotateY(180deg);
}

.card-flip:hover {
  transform: rotateY(5deg);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
}

.card-flip.is-flipped:hover {
  transform: rotateY(180deg)
}

.kpi {
  font-size: 34px;
  font-weight: bold;
}

.kpi-legend {
  display: inline;
  text-align: center;
  font-size: 16px;
  padding: 0 21px;
}

.card-face-front:after {
  content: "D'où vient ce chiffre ? 👉";
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: darkgrey;
  opacity: 80%;
}
