<!-- Only change this 👇 -->
<div class="scene"
  ods-dataset-context
  context="ctx"
  ctx-dataset="emission-co2-tgv@datasncf"
  ctx-domain="data"
  ng-init="params = {
    title: 'Moyenne d\'un voyage Paris/Province en TGV',
    field: 'tgv_empreinte_co2e_kgco2e_voyageur',
    func: {
      techname: 'AVG',
      fullname: 'La moyenne de'
    },
    decimals: 4,
    unit: 'kg.éq.CO2 par passager'
  }">
<!-- Only change this 👆 -->
  <div class="card-flip"
    ng-class="{'is-flipped': isFlipped}"
    ng-init="isFlipped = false"
    ng-click="isFlipped = !isFlipped"
    ods-aggregation="kpi"
    ods-aggregation-context="ctx"
    ods-aggregation-expression="{{params.field}}"
    ods-aggregation-function="{{params.func.techname}}">
    <div class="card-face card-face-front">
      <p class="kpi-legend">{{params.title}}</p>
      <h1 class="kpi">{{kpi | number:params.decimals}}</h1>
      <p class="kpi-legend">{{params.unit}}</p>
    </div>
      <div class="card-face card-face-back">
        <strong>{{kpi | number:params.decimals}} {{params.unit}}</strong> est calculé à partir de
          <strong>{{params.func.fullname}}</strong> de
          <strong ng-repeat="datasetField in ctx.dataset.fields | filter:field">{{datasetField.description}}</strong>
          du jeux de données
          <a href="{{ctx.domainUrl}}/explore/dataset/{{ctx.dataset.datasetid}}/information/">
            {{ctx.dataset.metas.title}}
          </a>
      </div>
  </div>
</div>
